Options -Indexes
IndexIgnore *
IndexIgnore *.png *.zip *.jpg *.gif *.doc
RewriteEngine on

#RewriteCond %{REQUESTFILENAME} !-f
#RewriteRule ^([^.]+)$ $1.php [NC,L]

RewriteRule ^anime/([a-zA-Z0-9-=_]+)/([0-9]+) watch.php?a=$1&ep=episode_$2
RewriteRule ^anime/([a-zA-Z0-9-=_]+) list.php?anime=$1
RewriteRule ^profile/edit/([a-zA-Z0-9-_]+)/ profile/index.php?edit=$1
RewriteRule ^profile/view/playlist/([0-9]+)/ profile/index.php?playlist=$1
RewriteRule ^profile/page/settings/edit/ profile/index.php?page=settings&edit=true
RewriteRule ^profile/page/([a-z-]+)/ profile/index.php?page=$1
RewriteRule ^profile/([a-zA-Z0-9-_]+)/view/playlist/([0-9]+)/ profile/index.php?user=$1&playlist=$2
RewriteRule ^profile/([a-zA-Z0-9-_]+)/page/([a-z-]+)/ profile/index.php?user=$1&page=$2
RewriteRule ^profile/([a-zA-Z0-9-_]+)/ profile/index.php?user=$1
RewriteRule ^profile/ profile/index.php